@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

#main {
    height: 100vh;
    /* width: 100vw;  */
    background-image: url(../img/main-background.png); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

.nav-tags {
    padding-right: 15px; 
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Medium';
}

.nav-tags:hover {
    color: darkgrey;
}

#title {
    font-family: 'Black Ops One';
    color: white;
    font-size: 140px;
}

#desc-eq {
    font-family: 'Quicksand';
    color: white;
    font-size: 28px;
    
}

#main-center {
    position: absolute;
    left: 50%;
    top: 45%;

    transform: translate(-50%, -50%);
}

#subtitulo
{
    text-align: center; font-family: 'Quicksand'; font-weight: bold; font-size: 50px;
}
#img-container {
    text-align: center;
}

#quienes-somos-cont {
    position: relative;
    left: 50%;
    top: 48%;

    transform: translate(-50%, -50%);
}
#porque-usarlo-cont {

    /*position: relative;
    left: 50%;
    top: 48%;

    transform: translate(-50%, -50%);
*/}

#textito
{
    text-align: center; font-family: 'Roboto'; font-weight: lighter; color: #13C13A; font-size: 25px;
}

#texto
{
    
    text-align: center; font-family: 'Roboto', sans-serif; font-weight: 1px; font-size: 25px;
}


#imgejem
{
    width: 350px; height: 250px;border-color: greenyellow;
}

#subtitulo
{
    text-align: center; font-family: 'Quicksand'; font-weight: bold; font-size: 50px;
}

#form-control
{
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: green;

    text-align: center;
}
